@import url('https://fonts.googleapis.com/css?family=Abel');
:root {
    --base: #17BEBB;
    --spacing: 10px;
    --blur: 10px;
}

body {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    font-family: 'Abel', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: var(--base);
    padding-top: 1em;
}

.intro {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.intro h2 {
    letter-spacing: var(--spacing);
    font-size: 4em;
    color: #EEECED;
}

.controls {
    width: 50%;
    margin: 0 auto;
}

.inputwrapper {
    width: 100%;
    margin: .5em auto;
}

.inputwrapper label {
    display: block;
    color: #444;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: bold;
    font-size: 1em;
}

.inputwrapper input[type="range"] {
    width: 100%;
    margin: 0 auto;
    border: none;
}

.container .image {
    width: 50%;
    margin: 5em auto;
}

.container .image img {
    width: 100%;
    margin: 0 auto;
    filter: blur(var(--blur));
}